<% layout("/layouts/boilerplate.ejs") %>
<div class="card" style="width: 20rem; padding: 1rem">
  <img
    src="<%= user.profileImage  %>"
    class="card-img-top"
    alt="..."
    style="height: 300px; object-fit: cover; border-radius: 50%; margin: 0.5rem"
  />
  <div class="card-body">
    <h5 class="card-title">User: <%= user.username %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email id: <%= user.email %></li>
    <li class="list-group-item">A member of our wanderlusr family &hearts;</li>
    <li class="list-group-item">Country: India</li>
  </ul>
  <div class="card-body">
    <form method="get" class="col-lg-1 m-2" action="/change-password">
      <button class="btn btn-edit">Change password</button>
    </form>
    <form
      method="post"
      class="col-lg-1 m-2"
      action="/profile/<%= user._id %>?_method=DELETE"
    >
      <button class="btn btn-dark">Delete profile</button>
    </form>
  </div>
</div>
